* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #04b4e0;
  overflow-x: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}



.content {
  background-color: #222;
  transition: 300ms;
  height: calc(90vh - 4em);
  overflow: auto;
  padding: 1em;
  border-radius: 20px;

}

.show {
  visibility: visible !important;
  opacity: 1 !important;
  backface-visibility: visible !important;
}

.hide {
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
}
